<meta name='title' content='{{ page.title }} - {{ site.title }}'>
    <meta name='og:title' content='{{ page.title }} - {{ site.title }}'>
    <meta property='og:url' content='{{ site.url }}{{ page.url }}'>
{% if page.date %}
    <meta content="article" property="og:type">
    <meta name="author" content="{{site.author.name}}">
{% endif %}
    <meta name="description" content="{% if page.description %}{{page.description | strip_html | strip_newlines }}{% else %}{{site.description}}{% endif %}">
    <meta name="keywords" content="{% if page.tags %}{{page.tags | join: ','}}{% else %}{{site.keywords | join: ','}}{% endif %}">
