---
layout: default
---
{% if page.header %}
<div class="jumbotron jumbotron-fluid p-0">
  <div class="header" style="background: url('{{ page.header }}') no-repeat center scroll;" alt="{{ page.header_alt }}"></div>
</div>
{% endif %}

<h1 class="post-title">{{ page.title }}</h1>
  <div class="d-flex justify-content-between py-0 mb-xs-3">
    <div class="meta">{{ page.date | date: "%b %d, %Y" }}</div>
    <div class="text-right">
      {% if page.tags or post.tags %}
        Tags: {{ page | tags }}
      {% endif %}
    </div>
  </div>
<div class="post">
{{ content }}
</div>
{% if page.comments %}
  {% include comments.html %}
{% endif %}
