<footer class="space-y-3 text-sm text-center">
  <p>
    Contact me at <a href="mailto:<%= metadata.email %>"><%= metadata.email %></a>
  <p/>

  <p>
    &copy; <%= Time.new.year %> Brandon Hicks - All rights reserved
  </p>
</footer>
