<footer class="space-y-3 text-sm text-center">
  <p>
    Contact me at <a href="mailto:<%= metadata.email %>"><%= metadata.email %></a>
  <p/>

  <p>
    &copy; 2004 - <%= Time.new.year %> Brandon Hicks - All rights reserved.<br>
    Content on this site is licensed under the <a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons 4.0 License</a>.<br>
    Code samples and snippets are licensed under the <a href="https://github.com/tarellel/theworkaround.com/blob/main/LICENSE">MIT License</a>
  </p>
</footer>
